<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WCalendar | 教学日历管理与服务平台 </title>
    {(meta.html)}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {(header.html)}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!----------------------------------------------- 正文 ----------------------------------------------->
            <section class="content-header"><section class="content-header">
                <h1>
        查看课程信息
      </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li><a href="#">课程管理</a></li>
                    <li class="active">课程信息</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">查看全信息</h3>
                            </div>
                            <div id="modalRef"></div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>课程ID</th>
                                            <th>课程名称</th>
                                            <th>总学时</th>
                                            <th>理论学时</th>
                                            <th>实验学时</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="courseMessage">
                                        <!-- <tr>
                                            <td>信息学院</td>
                                            <td>软件工程</td>
                                            <td>周一</td>
                                            <td>8:05</td>
                                            <td>9:35</td>
                                            <td>
                                                <button type="submit" class="btn btn-primary" onclick="javaScript:window.location.href='generalles.html'">修改</button>
                                                <button type="submit" class="btn btn-danger delete" onclick="deleteLes(\''+item.courseId+'\')">删除</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>信息学院</td>
                                            <td>企业化平台设计</td>
                                            <td>周二</td>
                                            <td>8:05</td>
                                            <td>9:35</td>
                                            <td>
                                                <button type="submit" class="btn btn-primary" onclick="javaScript:window.location.href='generalles.html'">修改</button>
                                                <button type="submit" class="btn btn-danger delete" onclick="deleteLes(\''+item.courseId+'\')">删除</button>
                                            </td>
                                        </tr> -->
                                        </tbody>
                                        
                                </table>
                                
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!----------------------------------------------- 正文结束 ----------------------------------------------->
        </div>
        <!-- /.content-wrapper -->
        <!--  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>
 -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <script id="modal-tpl" type="text/template">
        <form class="simple_form form-horizontal" action="#">
           



            <div class="form-group string optional">
                <label class="string optional control-label col-sm-2" for="coursename" >
                    课程名
                </label>
                <div class="col-sm-10">
                    <input class="string optional form-control" type="text" name="coursename" value="${course.coursename}">
                </div>
            </div>
            <div class="form-group string optional">
                <label class="string optional control-label col-sm-2" for="total_period">
                    总学时
                </label>
                <div class="col-sm-10">
                    <input class="string optional form-control" type="number" name="total_period" value="${course.total_period}">
                </div>
            </div>
            <div class="form-group string optional">
                <label class="string optional control-label col-sm-2" for="theoretical_period">
                    理论课学时
                </label>
                <div class="col-sm-10">
                    <input class="string optional form-control" type="number" name="theoretical_period" value="${course.theoretical_period}">
                </div>
            </div>
            <div class="form-group string optional user_tagline">
                <label class="string optional control-label col-sm-2" for="experimental_period">
                    实验课学时
                </label>
                <div class="col-sm-10">
                    <input class="string optional form-control" type="number" name="experimental_period" value="${course.experimental_period}">
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <a href="javascript:void(0);" class="btn btn-primary" id="edit-user-btn">
                        添加课程
                    </a>
                </div>
            </div>

            <div class="form-group" style="display: none;" id="edit-user-result">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="alert alert-info" role="alert"></div>
                </div>
            </div> -->

            
        </form>
    </script>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/static/js/ZCY_JS/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/static/js/ZCY_JS/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/static/js/ZCY_JS/jquery.dataTables.min.js"></script>
    <script src="/static/js/ZCY_JS/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/static/js/ZCY_JS/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/static/js/ZCY_JS/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/js/ZCY_JS/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/static/js/ZCY_JS/demo.js"></script>
    <script src="/static/js/course.js"></script>
    <script type="text/javascript">
    function deleteLes(item) {
        var t = $('#example1')
        var row = t.row($(this).parents('tr'));
        
       var data = row.data();
        console.log("=========", data.id)
        row.remove().draw(false);

        // $.ajax({
        //     url: '/courses/'+item,
        //     contentType: "application/json; charset=utf-8",
        //     method: 'delete',

        //     success: function(data) {
        //         if (data.code == 200) {
        //             $(".delete").parents("tr").first().remove();
        //         }
        //     }
        // })
        // $(".delete").parents("tr").first().remove();
        };
        $(document).ready(function(){
            // APP.Common.resetNav();
            // APP.Course.init();
            
        APP.Course.loadCourse();
        // $('#example1').DataTable()
        });
        </script>
</body>

</html>