<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/avatar/{{user.avatar}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>管理员李工</p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
      </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主菜单</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>个人信息</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/"><i class="fa fa-circle-o"></i>查看个人信息</a></li>
                    <li><a href="/user/settings"><i class="fa fa-circle-o"></i>修改个人信息</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>添加信息</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="general.html"><i class="fa fa-circle-o"></i>添加教师信息</a></li>
                    <li><a href="generalstu.html"><i class="fa fa-circle-o"></i>添加学生信息</a></li>
                    <li><a href="generalles.html"><i class="fa fa-circle-o"></i>添加课程信息</a></li>
                    <li><a href="addWork.html"><i class="fa fa-circle-o"></i>添加事务信息</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>查看信息</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="data.html"><i class="fa fa-circle-o"></i> 查看教师信息</a></li>
                    <li><a href="datastu.html"><i class="fa fa-circle-o"></i> 查看学生信息</a></li>
                    <li><a href="datales.html"><i class="fa fa-circle-o"></i> 查看课程信息</a></li>
                    <li><a href="dataaffair.html"><i class="fa fa-circle-o"></i> 查看事务信息</a></li>
                </ul>
            </li>
            <li class="active">
            <a href="calendar.html">
    <i class="fa fa-calendar"></i> <span>查看校历</span>
  </a>
            </li>
            <!-- <li>
  <a href="mailbox/mailbox.html">
    <i class="fa fa-envelope"></i> <span>Mailbox</span>
    <span class="pull-right-container">
      <small class="label pull-right bg-yellow">12</small>
      <small class="label pull-right bg-green">16</small>
      <small class="label pull-right bg-red">5</small>
    </span>
  </a>
</li> -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>