<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- 网络 新 Bootstrap 核心 CSS 文件 -->
	<!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
	<!--引入本地的bootstarp.min.css-->
	<link rel="stylesheet" href="/static/css/LLZ_CSS/bootstrap.min.css" />
	<!--加入自定义的css文件-->
	<link rel="stylesheet" href="/static/css/LLZ_CSS/addWork.css" />
	<link rel="stylesheet" href="/static/css/ZCY_CSS/dataTables.bootstrap.min.css">
	<title>WCalendar | 教学日历管理与服务平台</title>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<!--nav-->
		<div class="col-md-12 column" id="nav">
			<h4 class="text-center">教学日历管理与服务平台</h4>
		</div>
		<div class="col-md-2 column">
			<!--用户的操作活动记录-->
			<!-- <div class="list-group text-center">
				<a href="#" class="list-group-item active"  id="tips">
					<h4 class="list-group-item-heading">操作记录</h4>
				</a>
			</div> -->
		</div>
		<div class="col-md-8 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<form role="form">
						<!--选择时间-->
						<div class="row">
							<div class="col-md-3">
								<label for="name">学期</label>
								<select class="form-control semester">
									<option></option>
									<option>2021-2022-第一学期</option>
									<option>2021-2022-第二学期</option>
									<option>2022-2023-第一学期</option>
									<option>2022-2023-第二学期</option>                                                    <option>2023-2024-第一学期</option>
									<option>2023-2024-第二学期</option>                                                    <option>2024-2025-第一学期</option>
									<option>2024-2025-第二学期</option>                                                    <option>2025-2026-第一学期</option>
									<option>2025-2026-第二学期</option>                                                    <option>2026-2027-第一学期</option>
									<option>2026-2027-第二学期</option>                                                    <option>2027-2028-第一学期</option>
									<option>2027-2028-第二学期</option>                                                    <option>2028-2029-第一学期</option>
									<option>2028-2029-第二学期</option>                                                    <option>2029-2030-第一学期</option>
									<option>2029-2030-第二学期</option>                                                    <option>2030-2031-第一学期</option>
									<option>2030-2031-第二学期</option>
								</select>
							</div>
							<div class="col-md-3">
								<label for="name">教师</label>
								<select class="form-control teachername">
									<option></option>
									<!-- <option value="1">星期一</option>
									<option value="2">星期二</option>
									<option value="3">星期三</option>
									<option value="4">星期四</option>
									<option value="5">星期五</option> -->
								</select>
							</div>
							<div class="col-md-3">
								<label for="name">课程</label>
								<select class="form-control coursename">
									<option></option>
									<!-- <option value="1">第一节</option>
									<option value="2">第二节</option>
									<option value="3">第三节</option>
									<option value="4">第四节</option>
									<option value="5">第五节</option>
									<option value="6">第六节</option>
									<option value="7">第七节</option>
									<option value="8">第八节</option>
									<option value="9">第九节</option>
									<option value="10">第十节</option>
									<option value="11">第十一节</option>
									<option value="12">第十二节</option> -->
								</select>
							</div>
							<div class="col-md-3">
								<label for="name">班级</label>
								<select class="form-control classname">
									<option></option>
									<option>18计算机科学与技术2班</option>
									<option>18计算机科学与技术1班</option>
									<option >18计算机科学与技术4班</option>
									<option >18计算机科学与技术3班</option>
								</select>
							</div>
						</div>
						<!--学院专业班级-->
						<div class="row">
							<div class="col-md-3">
								<!-- <label for="name">学院</label>
								<select class="form-control">
									<option value="">请选择</option>
								</select> -->
							</div>
							<div class="col-md-3">
								<!-- <label for="name">专业</label>
								<select class="form-control">
								</select> -->
							</div>
							<div class="col-md-3">
								<!-- <label for="name">班级</label>
								<select class="form-control">
								</select> -->
							</div>
							<!--筛选button-->
							<div class="col-md-3">
								<label for="name">筛选</label>
								<button class="btn btn-large btn-success btn-block" type="button" onclick="onFind()">筛选</button>
							</div>
						</div>
					</form>
					<br>
					<!--按钮组-->
					<!-- <div class="text-right">
						<button class="btn btn-primary" type="button" onclick="selectAll()">全选</button>
						<button class="btn btn-warning" type="button" onclick="selectNone()">取消全选</button>
					</div> -->
				</div>
			</div>
			<!--<div style="width:auto; height:400px; overflow:scroll;">table滚动条-->
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">教学日历</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>学期</th>
									<th>课程名</th>
									<th>教师名</th>
									<th>班级</th>
									
									<th>查看</th>
								</tr>
							</thead>
							<tbody class="courseMessage">
								
								</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
			<!-- <div class="text-right">
				<button class="btn btn-large btn-info" type="button" onclick="addStu()">添加</button>
			</div> -->
			<!--</div>table滚动条-->
		</div>
		<div class="col-md-2 column">
			
		</div>
	</div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--本地的jquery.min.js-->
<script type="text/javascript" src="/static/js/LLZ_JS/jquery.min.js" ></script>
<!--本地的bootstrap.min.js-->
<script type="text/javascript" src="/static/js/LLZ_JS/bootstrap.min.js" ></script>
<script src="/static/js/ZCY_JS/jquery.dataTables.min.js"></script>

<!--加入自定义的JavaScript-->
<!-- <script src="/static/js/LLZ_JS/addWork.js"></script> -->
<!-- <script src="/static/js/LLZ_JS/NetWork.js"></script> -->
<script type="text/javascript">
	function onFind(num) {
		$.ajax({
			url: '/lessonplan/find',
			type: 'get',
			data: {
				semester: $(".semester").val(),
				coursename: $(".coursename").val(),
				teachername: $(".teachername").val(),
				classname:  $(".classname").val(),
			},
			cache: false,
			dataType: 'json',
			success: function (result) {
				if (result.success) {
					// console.log("==================================success")
					if (!result.data) {
					} else {
						$('.courseMessage').children().remove();
						$.each(result.data.lessonplan, function (index, item) {
							// console.log("==================================", index)
							if (item.state == 2) {
								$('.courseMessage').append('<tr><td>' + item.id + '</td><td>' + item.semester + '</td><td>' + item.coursename + '</td><td>' + item.teachername + '</td><td>' + item.classname + '</td><td><button type="submit" class="btn btn-primary" onclick="window.open(\'try/' + item.id + '/preview\')")">查看</button></td></tr>')
							}
							
						})
						// var t = $('#example1').DataTable({
						// 	"bProcessing": true,
						// 	'paging': true,
						// 	'lengthChange': true,
						// 	'searching': true,
						// 	'ordering': true,
						// 	'info': true,
						// 	'autoWidth': true,

						// 	"bFilter": true, //是否启动过滤、搜索功能  


						// 	"oLanguage": { //国际化配置  
						// 		"sProcessing": "正在获取数据，请稍后...",
						// 		"sLengthMenu": "显示 _MENU_ 条",
						// 		"sZeroRecords": "没有您要搜索的内容",
						// 		"sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
						// 		"sInfoEmpty": "记录数为0",
						// 		"sInfoFiltered": "(全部记录数 _MAX_ 条)",
						// 		"sInfoPostFix": "",
						// 		"sSearch": "搜索",
						// 		"sUrl": "",
						// 		"oPaginate": {
						// 			"sFirst": "第一页",
						// 			"sPrevious": "上一页",
						// 			"sNext": "下一页",
						// 			"sLast": "最后一页"
						// 		}
						// 	},
						// });
						
						// console.log("=================sssssss");
					}
				} else {
					
				}
			},
		});
	};

    $(document).ready(function(){
        $.ajax({
				type: 'get',
				url: '/course/all',
                dataType: 'json',
                success : function(result){
					if(result.success){
						var classes=$("select").eq(2);
						// $(classes).children().remove();
						$.each(result.data.courses, function(index,item) {
							console.log("==================================", index, item.coursename)
							$(classes).append("<option>" + item.coursename + "</option>")
						})
					}
                }
            });
			$.ajax({
				type: 'get',
				url: '/teacher/all',
                dataType: 'json',
                success : function(result){
					if(result.success){
						var classes=$("select").eq(1);
						// $(classes).children().remove();
						$.each(result.data.users, function(index,item) {
							console.log("==================================", index, item.coursename)
							$(classes).append("<option>" + item.teachername + "</option>")
						})
					}
                }
            });
			var t = $('#example1').DataTable({
								"bProcessing": true,
								'paging': true,
								'lengthChange': true,
								'searching': true,
								'ordering': true,
								'info': true,
								'autoWidth': true,

								"bFilter": true, //是否启动过滤、搜索功能  


								"oLanguage": { //国际化配置  
									"sProcessing": "正在获取数据，请稍后...",
									"sLengthMenu": "显示 _MENU_ 条",
									"sZeroRecords": "请选择筛选的内容",
									"sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
									"sInfoEmpty": "记录数为0",
									"sInfoFiltered": "(全部记录数 _MAX_ 条)",
									"sInfoPostFix": "",
									"sSearch": "搜索",
									"sUrl": "",
									"oPaginate": {
										"sFirst": "第一页",
										"sPrevious": "上一页",
										"sNext": "下一页",
										"sLast": "最后一页"
									}
								},
							});
							
    });
    
    </script>
</body>
	
</html>
